/* Alap stílusok */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    text-align: center;
    color: #333;
}

.filter {
    margin-bottom: 20px;
}

.filter h2 {
    font-size: 1.5em;
    color: #555;
}

.filter-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.filter-options label {
    font-size: 1.1em;
}

#applyFilter {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#applyFilter:hover {
    background-color: #0056b3;
}

.parfum-list {
    margin-top: 30px;
}

.parfum-list ul {
    list-style-type: none;
    padding: 0;
}

.parfum-list ul li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.parfum-list ul li h3 {
    margin: 0;
    color: #333;
}

.parfum-list ul li p {
    margin: 5px 0;
    color: #777;
}
