<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parfümök - Superz.</title>
    <link rel="stylesheet" href="Css/parfumsPageStyle.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Superz.</h1>
        </header>
        <nav class="filter-buttons">
            <a href="#" class="filter-button" onclick="filterParfums('all')">Mind</a>
            <a href="#" class="filter-button" onclick="filterParfums('férfi')">Férfi</a>
            <a href="#" class="filter-button" onclick="filterParfums('női')">Női</a>
            <a href="#" class="filter-button" onclick="filterParfums('unisex')">Unisex</a>
        </nav>
        <div th:each="parfum : ${parfums}" th:id="parfum.id" class="parfum"
            th:data-gender="${parfum.gender.toString().toLowerCase()}">
            <h3>
                <a th:href="@{/parfum/{id}(id=${parfum.id})}" th:text="${parfum.name}"></a>
            </h3>
            <p><strong></strong> <span th:text="${#strings.capitalize(parfum.gender.name().toLowerCase())}"></span></p>
            <p><span th:text="${T(java.lang.Math).round(parfum.price)}"></span> Ft</p>
        </div>
    </div>
    <script src="JS/parfumFilter.js"></script>
</body>
</html>
